@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@layer base {
  body {
    @apply max-w-screen-2xl mx-auto;
  }
} */

@layer components {
  /* .primary {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }
  .secondary {
    @apply bg-purple-600 text-white hover:bg-purple-700;
  } */
  .heading {
    @apply text-2xl font-semibold text-black;
  }
  .subheading {
    @apply text-base font-semibold text-gray-600;
  }
  .text{
    @apply text-sm font-normal text-gray-500;
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}


* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  --box-shadow-color: white;
}

html.dark-mode {
  --box-shadow-color: #111827;
}



li.relative:hover .right-container,li.relative.open .right-container {
  display: block;
  position: absolute;
  right: 0px;
  top: -50px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0px 10px var(--box-shadow-color) !important;
  pointer-events: none;
}
/* Ensure the div remains hidden when not hovered */
.right-container{
  display: none;
}


/* Adjust parent position if necessary */
li.relative {
  position: relative;

}


/* Add ::after for styling or decoration */
li.relative::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 35px -35px 0px 10px var(--box-shadow-color);
  pointer-events: none ;
  /* transition: opacity 0.3s ease; */
}

/* Make ::after visible on hover */
li.relative:hover::after {
  opacity: 1;
}

/* Hide ::after when dropdown is open */
li.relative.open::after {
  opacity: 0;
  pointer-events: none;
}
.ql-snow .ql-stroke {
  fill: none;
  stroke: #c0b6b6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.p-multiselect-items .p-checkbox:hover {
  border-color: #2563eb; /* Tailwind's blue-600 */
}

.custom-float-label .p-float-label :is(:active, :focus) + label  {
  color: #2563eb;
}